.portfolio-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 50px;
}

.portfolio-list {
    text-decoration: none;
    color: black;
}

.portfolio-list__wrapper {
    text-align: center;
}