.portfolio-description {}

.portfolio-description__wrapper {
    display: flex;
    justify-content: space-between;
}

.portfolio-description__wrapper-left, .portfolio-description__wrapper-right {
    margin: 15px;
}

.portfolio-description__wrapper-right {
    margin: auto 30px;
}

.go-home {
    text-align: center;
    margin: 30px;
    text-transform: uppercase;
}